version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: backend
    ports:
      - "8000:5000"
    environment:
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      DEFAULT_ADMIN_USERNAME: ${DEFAULT_ADMIN_USERNAME}
      DEFAULT_ADMIN_PASSWORD: ${DEFAULT_ADMIN_PASSWORD}
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: frontend
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
      NEXT_PUBLIC_EMAIL: ${NEXT_PUBLIC_EMAIL}
      SECRET_API_KEY: ${SECRET_API_KEY}
    # volumes:
    #   - ./frontend:/app
