.bannerContainer {
  position: relative;
  width: 100%;
  height: 300px;
  /* Adjust the height as needed */
  overflow: hidden;
}

.bannerContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  text-align: center;
  font-size: x-large;
  /* Optional overlay */
}